/** {
    border: solid black 1px !important;
    text-align: center;
}*/

html,
body {
    height: 100%;
}

.container-fluid,
.row,
.col-md-9 {
    height: 100%;
}

#map {
    height: 100%;
}

#infowindow * {
    /*text-align: center;*/
    /*width: 100%;*/
    overflow: hidden;
    margin: 5px;
    background-color: #efeff4;
}

#infoUpperLeft,
#infoLowerLeft,
#venueScore {
    float: left;
}

#infoUpperLeft img {
    width: 50px;
}

#infoUpperRight {
    margin-left: 51px;
}

#venueScore {
    width: 30px;
    background-color: #73cf42;
}

#venueScore div {
    background-color: #73cf42;
}

#venueAddrCusine {
    margin-left: 35px;
}

#infoLower {
    text-align: center;
}

#infoLowerLeft {
    width: 50%;
}

#infoLowerRight {
    margin-left: 50%;
}

#leftNav * {
    /*border: solid black 1px !important;*/
    text-align: left;
}

.col-md-3,
.col-md-9 {
    padding: 0px;
}

#leftNavFilterArea {
    /*padding: 5px;*/
    padding-left: 20px;
}

#leftNav {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

#heading h2 {
    text-align: center;
}

ul {
    padding: 0px;
    list-style-type: none;
}

#search input,
li {
    padding: 5px;
    width: 300px;
    height: 33px;
}

li:hover {
    color: #4285f4;
}

.pin {
    padding-left: 20px;
    background-image: url('../images/rsz_1rsz_pin.png');
    background-repeat: no-repeat;
    background-position: 5px;
}
